<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar showCancelButton="never" animated [style]="{'margin-top': '5px'}"></ion-searchbar>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="tab">
      <ion-segment-button value="MOVIES">
        Movies
      </ion-segment-button>
      <ion-segment-button value="TV">
        TV Shows
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template [ngIf]="tab === 'MOVIES'" [ngIfElse]="elseBlock">
    <app-movies></app-movies>
  </ng-template>
  <ng-template #elseBlock>
    <app-tv-series></app-tv-series>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

