<ion-content [fullscreen]="true" color="medium">
  <ion-grid style="height: 100%">
    <ion-row style="height: 100%;" class="ion-align-items-center ion-justify-content-center">
      <ion-col size-md="6" size-lg="4">
        <ion-card color="light">
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <ion-text>
                <h1>Login</h1>
              </ion-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ion-item>
              <ion-input type="password" placeholder="Enter Password" [(ngModel)]="password" clear-input></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="showError">
              Password is required.
            </span>
            <ion-button expand="block" class="ion-margin-top ion-margin-bottom" (click)="onClickLogin()">
              Login
            </ion-button>
            <ion-text (click)="forgotPassword()">
              <a>Forgot Password</a>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
