<ion-card [hidden]="!isAdmin">
  <ion-card-header>
    <ion-card-title>
      Add New User
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      <ion-item lines="full">
        <ion-label position="floating">User Code</ion-label>
        <ion-input type="text" placeholder="User Code" formControlName="userCode"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.userCode.errors?.required" [style.color]="errorColor">
        User Code is required.
      </span>
      <ion-button [color]="color" type="submit" expand="block">
        Add User
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>

