<ion-card [class]="tvShow.watchedStatus.toLowerCase() === 'watched' ? 'tv-card-watched':'tv-card-unwatched'">
  <ion-card-header>
    <ion-card-title>{{tvShow.title}} ({{tvShow.year}})</ion-card-title>
  </ion-card-header>
  <ion-card-content style="font-size: 16px !important;">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="7" size-sm="9">
          <ion-row>
            Seasons : {{tvShow.seasonCount}}
          </ion-row>
          <ion-row>
            Seasons in HDD : {{tvShow.seasonsHDD}}
          </ion-row>
          <ion-row>
            {{tvShow.status | titlecase}}
          </ion-row>
          <ion-row>
            {{tvShow.watchedStatus | titlecase}}
          </ion-row>
        </ion-col>
        <ion-col size-xs="5" size-sm="3">
          <ion-row style="text-align: center">
            <ion-col size="6">
              <ion-button fill="clear" size="medium" color="warning" style="margin-right: 5px" [routerLink]="['/app/tv-form']" [queryParams]="{ mode: modes.edit, id: tvShow.id }">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button fill="clear" size="medium" color="danger" (click)="presentAlertDeleteConfirm(tvShow.title)" >
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
